*, *:before, *:after{
    box-sizing: border-box;
}
body{
    background-image: url(../img/main-bg.jpg);
    background-color: #0A090A;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
}
.container{
    max-width: 1140px; /*максимальная ширина*/
    margin: auto; /*выравнивание по центру*/
}
.header{
    display: flex; /*расположение элементов в строчку*/
    align-items: center; /*выравнивание элементов по центру*/
    justify-content: space-between; /*разброс элементов на одинаковое растояние*/
    padding-top: 45px;
    margin-bottom: 30%;
}
.logo{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: white;
}
.search{
    display: flex;
    align-items: center;
    flex: 0.8;
}
.search-input{
    flex: 1;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    /*внутренние отступы*/
    padding: 12px 18px;
    border: none; /*убираем рамку*/
    color: #AEAEAE;
    font-size: 14px;
    line-height: 16px;
    outline: none
}
/*цвет базового текста внутри строки поиска*/
.search-input::-webkit-input-placeholder { /* Chrome */
    color: #AEAEAE;
  }
  .search-input:-ms-input-placeholder { /* IE 10+ */
    color: #AEAEAE;
  }
  .search-input::-moz-placeholder { /* Firefox 19+ */
    color: #AEAEAE;
    opacity: 1;
  }
  .search-input:-moz-placeholder { /* Firefox 4 - 18 */
    color: #AEAEAE;
    opacity: 1;
}
.search-button{
    background-color: transparent; /*прозрачный фон*/
    border: none;
    padding: 10px 18px; /*отступы по вертикали и горизонтали*/
}
.bookmark{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.user{
    display: flex;
    align-items: center;
}
.avatar{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /*равномерное заполнение пространства фото*/
}
.title{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 7px;
}
.title-en{
    display: inline-block; /*указание строчно-блочного элемента*/
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 38px;
}
.info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.movie-info{
    display: flex;
    align-items: center;
}
.tag{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
}
.country{
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
}
.trailer{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    text-decoration: none; /*Убирает подчеркивание*/
}
.trailer:before{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 15px;
}
.more{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    text-decoration: none;
}
.more:after{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15px;
    transform: rotate(90deg); /*Трансормация: поворот(90градусов)*/
}
.content{
    justify-content: space-between;
    display: flex;
    background: #FFF;
    border-radius: 3px;
    color: black;
    padding: 3% 4%;
    margin-top: 100px;
}
.on {
    display: none;
  }
.short-info{
    margin-right: 3%;
}
.poster{
    display: block;
    margin-top: -40%;
    margin-bottom: 20px;
}
.button{
    background: #FF8F27;
    padding: 10px 44px;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;
}
.actors-title{
    padding-left: 15px;
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
}
.actors-list{
    margin: 0;
    list-style: none; /*Убрать маркеры*/
    padding-left: 15px;
    text-decoration: underline; /*Подчеркивание элементов*/
    line-height: 150%;
}
.full-info{
    flex: 0.96;
}
.full-content{
    display: flex;
    justify-content: space-between;
}
.tabs-content{
    display: none;
    margin-right: 70px;
}
.visible{
    display: block;
}
.tabs{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
.tabs-item{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}
.tabs-item:hover{
    color: #FF8F27;
    transition: color .35s;
}
.tabs-item:not(:last-child){ /*всем, кроме последнего*/
    margin-right: 4%;
}
.tabs-item-activ{
    color: #FF8F27;
}
.text{
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
}
.subscribe-title{
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 14px;
    margin-top: 0;
}
.subscribe-form{
    display: flex;
    margin-bottom: 48px;
}
.subscribe-input{
    
    background: rgba(196, 196, 196, 0.5);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    /*внутренние отступы*/
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    border: none; /*убираем рамку*/
    color: #AEAEAE;
    font-size: 14px;
    line-height: 16px;
    width: 75%;
}
.subscribe-button{
    background: #FF8F27;
    border-radius: 0px 5px 5px 0px;
    border: none;
    padding: 16px;
    width: 25%;
}
.subscribe-button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .tabs-item{
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 740px;
    }
    .tabs{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .tabs-item{
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
        line-height: 2;
    }
    .full-content{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .tabs-content{
        margin-bottom: 5%;
    }
    .text{
        font-size: 14px;
    }
    .actors-list{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .more{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-top: 10%;
    }
    .tabs-item{
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }
    .tabs-content{
        margin-right: 0;
    }
    .movie-info{
        flex-wrap: wrap;
    }
}
@media (max-width: 578px){
    .container{
        width: 90%;
    }
    .header{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .search{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
                 order: 3;
        margin-top: 5%;
    }
    .content{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .short-info{
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .actors-list, .actors-title{
        display: none;
    }
    .movie-info{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .play{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        margin-top: 10%;
    }
    .short-info{
        margin-right: 0;
    }
    .button{
        padding: auto;
        width: 100%;
    }
    .poster{
        margin-top: -20%;
        display: inline-block;
        width: 100%;
    }
    .subscribe {
        margin: 0 auto;
      }
}
